
    <!-- Portfolio Grid Section -->
    <section class="success" id="curriculo">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Curriculo</h2>
                    <hr class="star-light">
                </div>
                <div class="row">
                    <div class="text-justify">
                      <img src="img/omnize.png" alt="Omnize" align="left">
                        <p><b>Master DevOps Engineer - Omnize</b></p>
                        Responsável pelo setor de DevOps da Omnize com foco nas seguintes atividades:
                        <br>
                        <br>• Provisionamento e manutenção dos recursos necessários para a execução de todo o ambiente da Omnize utilizando tecnologias como Docker, Chef, Vagrant, Packer, além dos serviços oferecidos pelo próprio cloud provider;
                        <br>• Suporte à equipe de desenvolvimento para o provisionamentos de ambientes locais de forma automatizada, visando redução de tempo e otimização de recursos;
                        <br>• Processos de automação de deploys (CI/CD);
                        <br>• Utilização efetiva dos recursos em nuvem com foco em redução de custos;
                        <br>• Pesquisa por novas tecnologias e plataformas open source ou proprietárias que possam atender necessidades do negócio;
                        <br>• Configuração e manutenção de ferramentas com foco no protocolo SIP.
                        <br>
                        <br>
                        <br>

                    </div>

        </div>
    </section>
